body{
	font: 500 20px "Tebuchet MC", Tebuchet, Arial, sans-serif;
	color: #333232;
	/* background: #4e7946; */
	margin: 0;
}

.btn-page {
	background-color: black;
	color: #ffffff;
	padding: 10px;
	margin: 0 0 10px 10px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	font-size: 20px;
	line-height: 70px;
}

.h {
	margin-left: 350px;
}

.head {
	display: flex;
	background: #80b1ff;
	text-align: center;
	padding: 20px 0;
	color: #EB7E7D;
	border: 2px solid gray;
}

.head h1 {
	font-size: 36px;
	font-weight: 600px;
	margin: 0;
}

.head h4 {
	font-size: 24px;
	font-weight: 400px;
	margin: 0;
}

* {
	padding: 0;
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-column-gap: 1em;
	grid-gap: 3px;
}

.sidebar {
	padding: 1em;
	background-color: rgb(236, 106, 106);
}

.main {
	padding: 1em;
	background-color: rgb(246, 190, 202);
}

.aside {
	padding: 1em;
	background-color: rgb(236, 106, 106);
}

.sidebar2 {
	padding: 1em;
	background-color: rgb(246, 190, 202);
}

.main2 {
	padding: 1em;
	background-color: rgb(236, 106, 106);
}

.aside2 {
	padding: 1em;
	background-color: rgb(246, 190, 202);
}

/* .container {
	margin: 0 auto;
	max-width: 700px;
	padding: 30px;
	margin-top: 20px;
	background-color: #c6bee7;
	border: 2px solid gray;
} */

/* .foot {
	background: #495f83;
	text-align: center;
	padding: 30px 30px;
	color: #EB7E7D;
	max-width: 700px;
	margin: 30px auto;
	border: 2px solid gray;
} */