* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #414453;
  color: #edf1fa;
  font-size: 24px;
}

.main-title {
  padding: 135px 0 0 323px;
  width: 850px;
  font-style: normal;
  font-weight: bold;
  font-size: 156px;
  line-height: 190px;
  align-items: center;
  letter-spacing: 0.06em;
}

.content-text {
  padding: ;
  font-weight: 600;
  font-size: 24px;
  line-height: 143.4%;
  /* or 34px */
  color: #edf1fa;
  align-items: center;
  letter-spacing: 0.06em;
}
