@keyframes shake-box-shadow {
  0% {
    box-shadow: 1px 1px 1px 1px red;
  }
  33% {
    box-shadow: 5px 5px 15px 5px green;
  }
  100% {
    box-shadow: 5px 5px 15px 5px blue;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 250, 251);
}

.container {
  height: 100%;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
	background: #95bcfb;
	text-align: center;
	color: #000000;
  padding: 30px 0;
	border: 2px solid gray;
}

.div-list {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.list-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.list {
  padding: 20px;
  box-shadow: 5px 5px 15px 5px #000000;
  list-style: none;
  border-radius: 40px;
}

.list li {
  margin-bottom: 20px;
}

.list li a {
  display: block;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid grey;
  font-size: 30px;
  transition: 0.8s ease;
  cursor: pointer;
}

.list a:hover {
  background-color: red;
  border-color: red;
  color: white;
  transform: scale(1.2) translateX(-30px);
  animation: shake-box-shadow 2s infinite alternate;
}

.deep {
	background: #95bcfb;
	text-align: center;
	padding: 5px 30px;
	color: black;
	width: 100%;
	border: 2px solid gray;
}

.container-footer {
  width: 100%;
}